#contact {
  background-color: #22171d;
}

#contact-form {
  max-width: 500px;
  padding: 30px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-bottom: 80px;
}
label {
  display: block;
  margin-bottom: 10px;
}
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

#skickain {
  background-color: #22171d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 20px;

  cursor: pointer;
}

#submit-btn:hover {
  background-color: #664759;
}

/* Styla felmeddelanden */
.error {
  color: #7a2727;
  margin-top: 5px;
}
