.main {
  background-image: url("bilder/koplistan.png");
  background-color: #22171d;
  background-size: cover;
  /* border: 1px solid gray; */
  background-position: center;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 600px;
}

.produkter-container {
  display: flex;
  overflow-x: auto;
  margin-right: -15px; /* To account for negative margin on .produkter */
}

.produkter {
  flex: 0 0 300px;
  margin-right: 15px;
  background-color: #6666666c;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}

.produkt {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.container {
  margin-top: 16px;
}

h2 {
  margin-bottom: 8px;
}

.button {
  font-family: "Courier New", Courier, monospace;
  font-weight: 1000;
  padding: 8px 16px;
  background-color: #e1be7b;
  color: rgb(42, 42, 42);
  border: 2px solid #855700;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #855700;
  transition: all 150ms;
}

.pris {
  margin-bottom: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 32px;
  font-weight: 1000;
}
@media screen and (max-width: 820px) {
  .produkter-container {
    flex-wrap: nowrap;
  }

  .produkter {
    flex: 0 0 auto;
    margin-right: 15px;
    width: 400px;
  }
}
