* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#ck3-logo {
  width: 130px;
  height: 50px;
  margin: 10px;
  padding: 0;
}
header {
  height: 70px;
}
nav {
  background-color: #22171d;
  height: 70px;
  display: flex;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

li {
  margin: 0 10px;
}
.länk {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  padding: 16px;
  display: block;
  position: relative;
}

.länk::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  transition: width 0.2s ease-in-out;
}

.länk:hover::before {
  width: 100%;
}

ul:first-child {
  margin-right: auto;
}
/* Köp nu */
.köpnu {
  padding: 10px 20px 10px 20px;
  background-color: rgba(225, 190, 123, 0.5);
  border: #e1be7b solid 1px;
  text-decoration: none;
  color: white;
  margin-right: 40px;
  border-radius: 2px;
}
.köpnu:hover {
  background-color: rgb(230, 201, 148);
  color: rgb(12, 12, 12);
  transition: 200ms all;
}
#menu {
  display: none;
}
#ikon {
  display: none;
}

/* varukorgen */
#varukorg {
  padding: auto;
  margin-right: 30px;
  color: white;
  text-decoration: none;
  font-size: 28px;
}
.fa-regular .fa {
  font-weight: none;
}

/* Hero bild */
.bild {
  width: 100%;
  display: block;
}
.bildcontainer {
  position: relative;
}
.ck3bild {
  display: block;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.your-legacy {
  width: 100vw;
  height: 500px;
  background-color: #22171d;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.introduction {
  margin-top: 50px;
  font-size: 26px;
}
.legacy-text {
  font-size: 48px;
}
.legacy {
  /* position: absolute; */
  margin-top: 30px;
}
article {
  height: 1600px;
  width: 100vw;
  background-color: #22171d;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(225, 190, 123);
  text-align: center;
}
h4 {
  margin-top: 2cm;
}
.imgg {
  display: block;
  margin-top: 1cm;
  padding-top: 0.5cm;
}
.första-delen-av-artikeln {
  margin-bottom: 2cm;
}

@media (max-width: 821px) {
  #ikon {
    font-size: 38px;
    padding-right: 25px;
  }
  #varukorg {
    font-size: 35px;
    margin-right: 10px;
  }
}

@media (max-width: 820px) {
  .ck3bild {
    width: 150px;
    height: 150px;
  }
  .imgg {
    width: 350px;
    height: auto;
    margin: auto;
  }
  .mycket-text {
    font-size: 12px;
    width: 350px;
    margin-top: 1cm;
    margin-bottom: 1cm;
  }
  #inte-hamburgar-meny li:not(:first-child) {
    display: none;
  }
  .köpnu {
    display: none;
  }
  #varukorg {
    margin-right: 20px;
  }
  #ikon {
    display: block;
    right: 0;
    top: 0;
    color: white;
    text-decoration: none;
    padding-right: 15px;
  }
  #menu {
    border-top: gray solid 0.5px;
    background-color: #22171d;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 70px;
  }
  article {
    height: 1200px;
  }
  #menu li {
    display: block;
    text-align: left;
  }
  #menu li a {
    border-bottom: gray solid 0.5px;
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  .footer {
    display: flex;
    width: 100%;
  }
  .your-legacy {
    height: 300px;
  }
  .introduction {
    margin-top: 30px;
    font-size: 20px;
  }
  .legacy-text {
    font-size: 40px;
  }
  .legacy {
    width: 70vw;
    height: 120px;
  }
}
